- self.add_raw_data('search', self.search)
- self.add_raw_data('settings', self.settings)
- self.add_raw_data('pagination', self.pagination)

article#content.market-search-buy
  -
    var navbar_args = {
      title:    self.t('title'),
      level_up: self.link_to('market.index.buy'),
      toolbar:  'market.search.buy.blocks.toolbar_controls',
      progress: {
        link_top:    self.link_to('market.search.buy', { $query: self.search }),
        link_bottom: '',
        current:     0,
        total:       0
      }
    };

  != self.partial('@common.blocks.navbar.levelup_progress_apps', navbar_args)
  != self.partial('@common.blocks.navbar.alt_levelup_progress_title_toolbar', navbar_args)

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-search-buy__head
      h1.market-search-buy__title.page-head__title(itemprop='name')= self.t('title')

      != self.partial('@market.search.buy.blocks.toolbar_controls')

    != self.partial('@market.blocks.search_form_buy')

    .market-search-buy__results
      .market-search-buy__loading-next.nojs-hide
        span.icon.icon-loading-placeholder
