@import "nodeca.core/client/common/_variables"

.market-item-wish-edit__label
  color $body-color
  padding-left 0

.market-item-wish-edit__textarea
  min-height 6rem !important

.market-item-wish__preview-controls
  display flex
  align-items baseline
  justify-content space-between

.market-item-wish__preview-btn
  padding 0 .5rem

.market-item-wish__preview
  border 1px dashed $input-border-color
  padding .5rem
  border-radius 4px
  overflow-y auto
  margin-right 0

  .quote__author-avatar
    background-color $decorator-color
