@import "nodeca.core/client/common/_variables"

.market-item-wish-edit__preview
  border 1px dashed $input-border-color
  padding .5rem
  border-radius 4px
  overflow-y auto

  .quote__author-avatar
    background-color $decorator-color
