@import "nodeca.core/client/common/_variables"

.market-section-buy-item
  display flex
  margin-top 1rem

.market-section-buy-item__photo
  flex 0 0 '$$ N.config.market.uploads.resize.sm.max_width || N.config.market.uploads.resize.sm.width $$'px

.market-section-buy-item__info
  margin-left 1rem
  flex 1 1 auto

.market-section-buy-item__title
.market-section-buy-item__price
  font-size $font-size-lg

.market-section-buy-item__location-link
.market-section-buy-item__user-link
  color $body-color-secondary

.market-section-buy-item__ignored-mark
  display none
.market-section-buy-item__m-ignored
  .market-section-buy-item__ignored-mark
    display inline-block

.market-section-buy-item__details
  color $body-color-secondary
  margin 0
  padding 0
  list-style none

.market-section-buy-item__details-item
  display inline

.market-section-buy-item__details-item + .market-section-buy-item__details-item
  &:before
    content ' | '

.market-section-buy-item__icon
  color $body-color-secondary

@keyframes market-section-buy-item-flash-animation {
  from  { background: $decorator-color;  }
  to    { background: none; }
}

.market-section-buy-item__m-highlight
  animation market-section-buy-item-flash-animation 1.5s
  .market-section-buy-item__highlight-marker
    display block

.market-section-buy-item__m-selected
  background-color #ffd
