@import "nodeca.core/client/common/_variables"

.market-search-buy-item
  display flex
  margin-top 1rem

.market-search-buy-item__info
  margin-left 1rem
  flex 1 1 auto

.market-search-buy-item__title
.market-search-buy-item__price
  font-size $font-size-lg

.market-search-buy-item__location-link
.market-search-buy-item__user-link
.market-search-buy-item__section-link
  color $body-color-secondary

.market-search-buy-item__ignored-mark
  display none
.market-search-buy-item__m-ignored
  .market-search-buy-item__ignored-mark
    display inline-block

.market-search-buy-item__details
  color $body-color-secondary
  margin 0
  padding 0
  list-style none

.market-search-buy-item__details-item
  display inline

.market-search-buy-item__details-item + .market-search-buy-item__details-item
  &:before
    content ' | '

.market-search-buy-item__icon
  color $body-color-secondary

.market-search-buy-item__m-selected
  background-color #ffd
