@import "nodeca.core/client/common/_variables"

.market-section-wish .market-search-form-wish
  margin-bottom 2rem

.market-section-wish__subsections
  margin-bottom 2rem

.market-section-wish__head
  display flex

.market-section-wish__title
  flex 1 1 0%

.market-section-wish__subsection:before
  content '/ '
  font-family monospace

.market-section-wish__subsection.market-section-wish__linked:before
  content '→ '
  font-family monospace

.market-section-wish__subsection-title
  color $body-color

.market-section-wish__subsection-count
  color $body-color-secondary
  vertical-align sub
  font-size $font-size-xs

.market-section-wish__item-list
  margin 0
  padding 0
  list-style none

.market-section-wish__loading-prev
.market-section-wish__loading-next
  padding 2rem
  font-size 4rem
  line-height 1.1em
  text-align center
  background-color $body-bg-secondary
  color $body-color-secondary + 50%
  border-radius 4px
  margin-bottom 2rem
  margin-top 1rem
  clear both
