@import "nodeca.core/client/common/_variables"

.market-new__currency.market-new__currency
  flex 0 0 4em

.market-new__preview
  border 1px dashed $input-border-color
  padding .5rem
  border-radius 4px
  overflow-y auto

  .quote__author-avatar
    background-color $decorator-color

.market-new__attach-controls
  position absolute
  right 0
  bottom 0

.market-new__attach-control-item > .btn-link
  color $body-color-secondary + 20%
  text-shadow 0 0 1px ($body-color-secondary - 60%)
  &:hover
    color $body-color-secondary + 40%

.market-new__attach-main
  color $body-color-secondary

.market-new__attach-item
  cursor grab
