- self.add_raw_data('sections', self.sections)

#content
  != self.partial('@admin.core.blocks.sidebar_menu')

  .main
    != self.partial('@admin.core.blocks.breadcrumbs')

    .page-head
      .float-end
        a.btn.btn-sm.btn-light(href=self.link_to('admin.market.sections.new'))
          = self.t('new_section')

        a.btn.btn-sm.btn-light(href=self.link_to('admin.market.sections.new_link'))
          = self.t('new_link')

      h1.page-head__title= self.head.title

    .amarket-index__scontent
