article#content.market-search-sell
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-search-sell__head
      h1.market-search-sell__title.page-head__title(itemprop='name')= self.t('title')

      != self.partial('@market.search.sell.blocks.toolbar_controls')

    != self.partial('@market.blocks.search_form_sell')

    select.market-search-sell__select-order.form-control.custom-select
      option(selected=self.search.order !== 'date')= self.t('order_by_rel')
      option(selected=self.search.order === 'date')= self.t('order_by_date')

    .market-search-sell__sections
      //- TODO

    if self.items && self.items.length
      ul.market-search-sell__item-list
        != self.partial('@market.blocks.search_item_offer_list')
    else
      p.market-search-sell__no-items
        != self.t('no_items')
