@import "nodeca.core/client/common/_variables"

.market-item-wish-history-entry
  overflow-wrap break-word
  margin-bottom 2rem

.market-item-wish-history-entry__meta
  display flex
  padding .375rem .75rem
  margin-bottom .5rem
  color $body-color-secondary - 10%
  background-color $body-bg-secondary - 1%
  border-radius 3px
  line-height 1.1em

.market-item-wish-history-entry__icon-task
.market-item-wish-history-entry__icon-moderator
  font-weight bold
  color #c97971
  margin-right .375rem
  display none

.market-item-wish-history-entry__m-task .market-item-wish-history-entry__icon-task
.market-item-wish-history-entry__m-moderator .market-item-wish-history-entry__icon-moderator
  display inline

.market-item-wish-history-entry__meta-author
  flex 1 1 0%

.market-item-wish-history-entry__meta-author-link
  color inherit

.market-item-wish-history-entry__meta-ts
  white-space nowrap
  font-size $font-size-xs
  align-self flex-end
  padding-left 1rem

.market-item-wish-history-entry__title
  font-size $font-size-lg
  margin-bottom .5rem

.market-item-wish-history-entry__diff
  margin-bottom .5rem

.market-item-wish-history-entry__actions
  color $body-color-secondary

.market-item-wish-history-entry__details
  display table

.market-item-wish-history-entry__details-item
  display table-row

.market-item-wish-history-entry__details-key
  display table-cell
  color $body-color-secondary
  text-align right
  vertical-align middle
  padding-right .5rem

.market-item-wish-history-entry__details-value
  display table-cell
  vertical-align middle
