article#content.market-search-wish
  != self.partial('@common.blocks.navbar.logo_apps')

  nav.breadcrumbs-container
    .layout__container.container-fluid
      != self.partial('@common.blocks.breadcrumbs')

  .layout__container.container-fluid
    != self.partial('@users.blocks.announces')
    != self.partial('@market.blocks.drafts')

    header.page-head.market-search-wish__head
      h1.market-search-wish__title.page-head__title(itemprop='name')= self.t('title')

      != self.partial('@market.search.wish.blocks.toolbar_controls')

    != self.partial('@market.blocks.search_form_wish')
