@import "nodeca.core/client/common/_variables"

.market-search-form-buy
  background-color $decorator-color + 50%
  border-radius .25rem

.market-search-form-buy__input-container
  padding 1rem 1.25rem .5rem

.market-search-form-buy__meta
  display flex
  margin-top .25rem

.market-search-form-buy__meta-item
  font-size $font-size-sm
  color $body-color-secondary

.market-search-form-buy__meta-item + .market-search-form-buy__meta-item
  margin-left 1rem

.market-search-form-buy__submit
  background-color white
  color $body-color

.market-search-form-buy__options-inner
  border-top 1px solid ($body-color-secondary + 60%)
  padding 1rem 1.25rem

.market-search-form-buy__options-inner-row + .market-search-form-buy__options-inner-row
  margin-top 0.5rem

.market-search-form-buy__options-control
  display inline-flex
  flex-wrap wrap
  align-items baseline

.market-search-form-buy__options-control-label
  margin-right 0.5em

.market-search-form-buy__price
  display inline-flex
  flex-wrap nowrap
  flex 1 0 8em

.market-search-form-buy__price > .market-search-form-buy__price-value
  flex 1 1 auto

.market-search-form-buy__price > .market-search-form-buy__price-currency
  flex 0 1 4em

.market-search-form-buy__options-price-dash
  margin 0 0.5em
