@import "nodeca.core/client/common/_variables"

.market-search-form-buy
  background-color $decorator-color + 50%
  border-radius .25rem

.market-search-form-buy__input-container
  padding 1rem 1.25rem .5rem

.market-search-form-buy__meta
  display flex
  font-size $font-size-sm
  margin-top .25rem

.market-search-form-buy__options-toggle
  color $body-color-secondary

.market-search-form-buy__search-all
  margin-left 1rem

.market-search-form-buy__search-all-label
  color $body-color-secondary

.market-search-form-buy__submit
  background-color white
  color $body-color

.market-search-form-buy__options-inner
  border-top 1px solid ($body-color-secondary + 60%)
  padding 1rem 1.25rem

.market-search-form-buy__options-control
  display inline-flex
  align-items baseline

.market-search-form-buy__options-control-label
  margin-right 0.5em
