@import "nodeca.core/client/common/_variables"

.market-item__info
  color $body-color-secondary
  margin 0
  padding 0
  list-style none

.market-item__info-item
  display inline

.market-item__user-link
  color $body-color-secondary

.market-item__info-item + .market-item__info-item
  &:before
    content ' | '

.market-item__details
  display table

.market-item__details-item
  display table-row

.market-item__details-key
  display table-cell
  color $body-color-secondary
  text-align right
  padding-right 0.5rem

.market-item__details-value
  display table-cell

.market-item__controls-blk
  margin 0 0 .5rem 0
  padding 0
  list-style none

.market-item__control-item
  color $body-color-secondary
  display inline-block

.market-item__action
  background-color transparent
  color $body-color-secondary

  &:hover
  &:focus
  &:active
    color $body-color-secondary - 20%
    background-color $body-bg-secondary

.market-item__infraction .icon
  color $brand-danger
.market-item__infraction-m-warning .icon
  color $brand-warning

// override .btn+.btn margin
.market-item__bookmark-remove.market-item__bookmark-remove
  margin 0

.market-item__bookmark-remove
  display none

.market-item__m-bookmarked
  .market-item__bookmark-remove
    display inline-block
    opacity 1
    .icon
      color $brand-success
  .market-item__bookmark-add
    display none

.market-item__bookmarks-count
  font-size $font-size-xs
  color $body-color-secondary

.market-item__bookmarks-count:after
  content attr(data-bm-count)
  margin-left .3em

.market-item__bookmarks-count[data-bm-count="0"]:after
  display none

.market-item__ts
  margin-right .75rem

.market-item__views
  margin-left .75rem
