@import "nodeca.core/client/common/_variables"

.market-index-wish__head
  display flex

.market-index-wish__title
  flex 1 1 0%

.market-index-wish__switch-type
  text-align center
  font-size $font-size-sm
  border-bottom 1px solid $decorator-color
  padding 0.625rem 0

.market-index-wish__switch-type-link
  color $brand-primary

$section-spacing = 1rem

.market-index-wish__categories
  display flex
  flex-wrap wrap
  margin 0 $section-spacing * -1

.market-index-wish__section
  padding $section-spacing
  width 33.33%
  min-width 200px

.market-index-wish__section-title
  font-size $h5-font-size
  line-height 1.6em
  margin-bottom 0.25rem

.market-index-wish__linked-section:before
  content '@ '

.market-index-wish__section-link
  color $body-color

.market-index-wish__subsection-link
  color $body-color-secondary
