@import "nodeca.core/client/common/_variables"

.market-item-buy-history-dlg__entry
  margin-bottom 2rem

.market-item-buy-history-dlg__meta
  display flex
  padding .375rem .75rem
  margin-bottom .5rem
  color $body-color-secondary - 10%
  background-color $body-bg-secondary - 1%
  border-radius 3px
  line-height 1.1em

.market-item-buy-history-dlg__meta-author
  flex 1 1 0%

.market-item-buy-history-dlg__meta-author-link
  color inherit

.market-item-buy-history-dlg__meta-ts
  white-space nowrap
  font-size $font-size-xs
  align-self flex-end
  padding-left 1rem

.market-item-buy-history-dlg__title
  font-size $font-size-lg
  margin-bottom .5rem

.market-item-buy-history-dlg__diff
  margin-bottom .5rem

.market-item-buy-history-dlg__details
  display table

.market-item-buy-history-dlg__details-item
  display table-row

.market-item-buy-history-dlg__details-key
  display table-cell
  color $body-color-secondary
  text-align right
  vertical-align middle
  padding-right 0.5rem

.market-item-buy-history-dlg__details-value
  display table-cell
  vertical-align middle
