@import "nodeca.core/client/common/_variables"

.market-search-form-sell
  background-color $decorator-color + 50%
  border-radius .25rem

.market-search-form-sell__input-container
  padding 1rem 1.25rem .5rem

.market-search-form-sell__meta
  display flex
  font-size $font-size-sm
  margin-top .25rem

.market-search-form-sell__options-toggle
  color $body-color-secondary

.market-search-form-sell__search-all
  margin-left 1rem

.market-search-form-sell__search-all-label
  color $body-color-secondary

.market-search-form-sell__submit
  background-color white
  color $body-color

.market-search-form-sell__options-inner
  border-top 1px solid ($body-color-secondary + 60%)
  padding 1rem 1.25rem

.market-search-form-sell__options-control
  display inline-flex
  align-items baseline

.market-search-form-sell__options-control-label
  margin-right 0.5em

.market-search-form-sell__price
  display inline-flex
  flex-wrap nowrap
  width auto

.market-search-form-sell__price > .market-search-form-sell__price-value
  flex 1 0 4em

.market-search-form-sell__price > .market-search-form-sell__price-currency
  flex 0 0 4em

.market-search-form-sell__options-price-dash
  margin 0 0.5em
