@import "nodeca.core/client/common/_variables"

.market-no-foto
  background-image url('$$ JSON.stringify("data:image/svg+xml;base64," + Buffer.from(asset_body("nodeca.market/client/market/blocks/no_foto/no_foto.svg")).toString("base64")) $$')
  background-repeat no-repeat
  background-size 40%
  background-position center
