@import "nodeca.core/client/common/_variables"

.market-currency-select-dlg__item
  color $body-color
  &:hover
    color $body-color
    text-decoration none

.market-currency-select-dlg__item-heading
  font-size $h5-font-size
