@import "nodeca.core/client/common/_variables"

.market-currency-select-dlg__item
  font-size $font-size-lg
  font-weight: 500
  color $body-color
  &:hover
    color $body-color
    text-decoration none
