@import "nodeca.core/client/common/_variables"

.market-search-wish-item
  margin-top 1rem

.market-search-wish-item__title
  font-size $font-size-lg

.market-search-wish-item__location-link
.market-search-wish-item__user-link
.market-search-wish-item__section-link
  color $body-color-secondary

.market-search-wish-item__ignored-mark
  display none
.market-search-wish-item__m-ignored
  .market-search-wish-item__ignored-mark
    display inline-block

.market-search-wish-item__details
  color $body-color-secondary
  margin 0
  padding 0
  list-style none

.market-search-wish-item__details-item
  display inline

.market-search-wish-item__details-item + .market-search-wish-item__details-item
  &:before
    content ' | '
